<h1>Listing deploys</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Output</th>
    <th>Success</th>
  </tr>

<% @deploys.each do |deploy| %>
  <tr>
    <td><%=h deploy.project %></td>
    <td><%=h deploy.output %></td>
    <td><%=h deploy.success %></td>
    <td><%= link_to 'Show', deploy %></td>
    <td><%= link_to 'Edit', edit_deploy_path(deploy) %></td>
    <td><%= link_to 'Destroy', deploy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New deploy', new_deploy_path %>