<h1>Editing build</h1>

<% form_for(@build) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </p>
  <p>
    <%= f.label :log %><br />
    <%= f.text_area :log %>
  </p>
  <p>
    <%= f.label :success %><br />
    <%= f.check_box :success %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @build %> |
<%= link_to 'Back', builds_path %>