<h1>Listing builds</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Log</th>
    <th>Success</th>
  </tr>

<% @builds.each do |build| %>
  <tr>
    <td><%=h build.project %></td>
    <td><%=h build.log %></td>
    <td><%=h build.success %></td>
    <td><%= link_to 'Show', build %></td>
    <td><%= link_to 'Edit', edit_build_path(build) %></td>
    <td><%= link_to 'Destroy', build, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New build', new_build_path %>