.project{:class => @project.status}
  .name= @project.name
  .url= @project.url
  .email= @project.email

  .last_build= render :partial => "shared/build", :locals => {:build => @project.builds.last} unless @project.builds.empty?

= link_to 'build', project_builds_path(@project), :method => :post
= link_to 'metrics', metrics_path(@project)
