!!! XML
!!!
%html
  %head
    %title= Signal
    = javascript_include_merged :base
    = stylesheet_link_merged :base
    = auto_discovery_link_tag :rss, root_path(:format => :rss)
  %body
    %h1.header= link_to "Signal", root_path
    = yield
